@font-face {
    font-family: 'ProximaNova';
    src: url('proximanova-extrabold-webfont.ttf');
}
@font-face {
    font-family: 'Elektra';
    src: url('elektra.ttf');
}
@font-face {
    font-family: 'Avenir';
    src: url('Avenir.ttc');
}